section {
  height: 100vh;
  display: flex;
  padding-left: 5%;
  font-size: 2.5rem;
  align-items: center;
  .text {
    height: fit-content;
    h1 {

      margin: 10px 0;
      span {
        color: #8b43ff;
        background: linear-gradient(to right,#8b43ff 0% , #6a25da 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    a {
      border: #8b43ff 2px solid;
      color: #8b43ff;
      display: block;
      font-size: 1.5rem;
      padding: 6px 30px;
      text-decoration: none;
      width: fit-content;

      transition: all 0.3s ease-out;
      background: linear-gradient(to right,#8b43ff 0% , #6a25da 50%, white 50%) right bottom;
      background-size: 200% 100%;
      font-weight: 700;
      &:hover {
        background-position: left bottom;
        color: #FFFFFF;
      }
    }
  }
}



