section {
  margin-top: 10px;
  height: 40vh;
  background: linear-gradient(to left, var(--main-color) 0%, var(--second-color) 100%);
  clip-path: polygon(0 15vh,100% 0,100% 100%,0 100%);
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;

  > * {
    height: fit-content;
  }

  h2{
    text-align: center;
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
  }

  a {
    border: #FFFFFF 2px solid;
    color: #FFFFFF;
    display: block;
    font-size: 1.1rem;
    padding: 6px 30px;
    text-decoration: none;
    width: fit-content;

    transition: all 0.3s ease-out;
    background: linear-gradient(to right, white 50% ,var(--main-color) 50% , var(--second-color) 140%) right bottom;
    background-size: 200% 100%;
    font-weight: 700;
    &:hover {
      background-position: left bottom;
      color: var(--main-color);
    }
  }

}
