section {
  margin-top: 10px;
  height: 40vh;
  background: linear-gradient(270deg, rgba(139,67,255,1) 0%, rgba(49,9,115,1) 100%);
  clip-path: polygon(0 15vh,100% 0,100% 100%,0 100%);
  display: flex;
  justify-content: center;
}
