<section>
  <h2>Projects</h2>
  <div class="project">
    <div class="info">
      <h3>
        Project Title 0
      </h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Excepturi neque, ipsa animi maiores repellendus distinctio aperiam earum dolor voluptatum consequatur
        blanditiis inventore debitis fuga numquam voluptate ex architecto itaque molestiae.
      </p>
      <div class="buttons">
        <a class="primary-btn" href="">See Live</a>
        <a class="secondary-btn" href="">Source Code</a>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/project-img.jpg" alt="">
    </div>
  </div>
  <div class="project">
    <div class="info">
      <h3>
        Project Title 1
      </h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Excepturi neque, ipsa animi maiores repellendus distinctio aperiam earum dolor voluptatum consequatur
        blanditiis inventore debitis fuga numquam voluptate ex architecto itaque molestiae.
      </p>
      <div class="buttons">
        <a class="primary-btn" href="">See Live</a>
        <a class="secondary-btn" href="">Source Code</a>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/project-img.jpg" alt="">
    </div>
  </div>
  <div class="project">
    <div class="info">
      <h3>
        Project Title 2
      </h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Excepturi neque, ipsa animi maiores repellendus distinctio aperiam earum dolor voluptatum consequatur
        blanditiis inventore debitis fuga numquam voluptate ex architecto itaque molestiae.
      </p>
      <div class="buttons">
        <a class="primary-btn" href="">See Live</a>
        <a class="secondary-btn" href="">Source Code</a>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/project-img.jpg" alt="">
    </div>
  </div>
  <div class="project">
    <div class="info">
      <h3>
        Project Title 3
      </h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Excepturi neque, ipsa animi maiores repellendus distinctio aperiam earum dolor voluptatum consequatur
        blanditiis inventore debitis fuga numquam voluptate ex architecto itaque molestiae.
      </p>
      <div class="buttons">
        <a class="primary-btn" href="">See Live</a>
        <a class="secondary-btn" href="">Source Code</a>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/project-img.jpg" alt="">
    </div>
  </div>
</section>
