<section>
  <h2  [@appear]=titleState>Projects</h2>
  <div class="project" *ngFor="let project of projects">
    <div class="info" [@slideInAnimation]="project.visible ? 'inFromLeft' : 'standByLeft'">
      <h3>
        {{ project.title }}
      </h3>
      <p>
        {{ project.text }}
      </p>
      <div class="buttons">
        <a class="primary-btn" [href]="project.demoLink">See Live</a>
        <a class="secondary-btn" [href]="project.codeLink">Source Code</a>
      </div>
    </div>
    <div class="img-wrapper" [@slideInAnimation]="project.visible ? 'inFromRight' : 'standByRight'">
      <img [src]="'assets/' + project.imageName + '.jpg'" alt="">
    </div>
  </div>
</section>
