<section>
  <div class="container">
    <h2 [@appearAnimation]="{ value: animation.state }">About Me</h2>
    <div class="data">
      <div class="pic">
        <img
          [@appearAnimation]="{ value: animation.state, params: { startX: '0%', startY: '15%' }}"
          [src]="'assets/' + getData().imageName +'.jpg'"
          alt=""
        >
      </div>
      <div [@appearAnimation]="{ value: animation.state, params: animation.params}" class="text">
        <p *ngFor="let paragraph of getData().description">{{ paragraph }}</p>
        <a [href]="getData().resumeURL">View Resume</a>
      </div>
    </div>
  </div>
</section>
