section {
  background: linear-gradient(to right,#8b43ff 0% , #6a25da 50%);
  height: 70vh;
  clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
  display: flex;
  justify-content: center;

  .container {
    margin-top: 2%;
    color: #FFFFFF;
    h2 {
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
    }

    .data {
      display: flex;

      .pic {
        text-align: center;
        width: 50%;

        img {
          box-shadow: 0 0rem 1rem rgba(0,0,0,0.4);
          width: 60%;
          border-radius: 5px;
        }

      }

      .text {
        display: inline-block;
        position: relative;
        top: 60px;
        width: 50%;
        p {
          width: 80%;
        }


        a {
          border: #8b43ff 2px solid;
          color: #8b43ff;
          display: block;
          font-size: 1.5rem;
          padding: 6px 30px;
          text-decoration: none;
          width: fit-content;

          transition: all 0.3s ease-out;
          background: linear-gradient(to right,#8b43ff 0% , #6a25da 50%, white 50%) right bottom;
          background-size: 200% 100%;
          font-weight: 700;
          &:hover {
            background-position: left bottom;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}
