<section>
  <div class="container">
    <h2 [@appear]="titleState">About Me</h2>
    <div class="data">
      <div class="pic">
        <img [@slideInAnimation]="pictureState" src="assets/user.jpg" alt="">
      </div>
      <div [@slideInAnimation]="textState" class="text">
        <p>This is where you can describe about yourself. The more you describe about yourself, the more chances you can!</p>
        <p>Extra Information about you! like hobbies and your goals.</p>
        <a href>View Resume</a>
      </div>
    </div>
  </div>
</section>
