<footer>
  <div class="content">
    <div class="arrow-up">
      <i class="fas fa-chevron-up"></i>
    </div>
    <div class="links-icons">
      <a href="">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="">
        <i class="fab fa-codepen"></i>
      </a>
      <a href="">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <hr>
    <p>
      © 2021 - Developed By Dhia Eddine Trabelsi, Design By jacob matinez
    </p>
  </div>
</footer>
